bind9/db.*
bind9/named.conf.access_network
bind9/named.conf.system_network

config/docker.env

logs

nginx/*
!nginx/nginx.conf

nosql/mongodb/data/*
nosql/mongodb/backup/*
nosql/mongodb/init/*
!nosql/mongodb/init/create_role.js
!nosql/mongodb/init/grant_role.js
nosql/redis/data/*
nosql/redis/backup/*

sql/mariadb/data/*
sql/mariadb/backup/*
sql/mysql/data/*
sql/mysql/backup/*
sql/postgres/data/*
sql/postgres/backup/*